.mandiv {
    display: flex;

    .main_box_text {
        width: 379px;
        color: #222;
        font-family: Nunito;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 43.2px;
        margin-bottom: 22px;
    }
  

    .main_box_text {
        width: 439px;
        color: #222;
        font-family: Nunito;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.92px;
    }
    .main_box_ul {
        margin-top: 290px;
        margin-left: 135px;
    }
    // .img_img_2 {
    //     margin-bottom: 326px;
    // }
}