.section_2 {
    position: relative;

    .orta_1_text {
        margin-top: 330px;
        width: 157px;
        color: #222;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 43.2px;
        margin-bottom: 22px;
    }

    .text_h4_title_1 {
        width: 451px;
        color: #222;
        font-family: Nunito;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.92px;
        margin-bottom: 12px;
    }

    .text_h4_title_2 {
        width: 366px;
        color: #222;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.92px;
        margin-bottom: 17px;
    }

    .text_h4_title_3 {
        width: 447.5px;
        color: #000;
        font-family: Nunito;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.92px;
        margin-bottom: 220px;
    }

    .img_img_3 {
        position: absolute;
        top: -120px;
        left: 670px;
    }

    .hero_h4 {
        margin: 0 auto;
        width: 236px;
        color: #222;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 43.2px;
    }

    .hero__text {
        margin: 0 auto;
        width: 584px;
        color: #222;
        text-align: center;
        font-family: Nunito;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.92px;
        margin-bottom: 46px;
    }

    .hero_btn_1 {
        margin-left: 510px;
        width: 173px;
        color: #222;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 237px;
        height: 48px;
        border-radius: 48px;
        border: 1px solid #000;
        background: #FFF;
        margin-bottom: 60px;
    }

    .img_eint {
        padding: 30px 65px 30px 65px;
        gap: 60px 108px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 200px;
    }

    .orta_3 {
        position: relative;
        margin-bottom: 200px;
    }

    .hero_h5 {
        align-items: center;
        width: 436px;
        color: #222;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 43.2px;
        margin-bottom: 20px;
    }

    .text_title_1 {
        display: flex;
        align-items: center;
    }

    .img-img-1 {
        margin-bottom: 50px;
    }

    .hero_text_2 {
        width: 475px;
        color: #222;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.92px;
        margin-bottom: 28px;
    }

    .imgmgg {
        margin-left: 20px;
        // margin-bottom: 186px;
    }

    .img_img_4 {
        position: absolute;
        top: -150px;
        right: 20px;

    }

    .img_img_5 {
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    }

    .mandiv_2 {
        display: flex;
    }

    .main_box_div_2 {
        margin-top: 140px;
        margin-left: 135px;
    }

    .main_box_text_2 {
        color: #222;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 43.2px;
        margin-bottom: 22px;
    }

    .main_box_text_3 {
        width: 455px;
        margin-bottom: 10px;
    }

    .main_box_text_4 {
        width: 380px;
    }

    .telephone_3 {
        display: flex;
        position: relative;
    }

    .img_img_6 {
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
        position: absolute;
        top: -200px;
        right: 0;
        // margin-top: 50px;
    }

    .main_box_text_6 {
        width: 374px;
        color: #222;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 43.2px;
        margin-bottom: 19px;
    }

    .main_box_text_7 {
        width: 475px;
        color: #222;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.92px
    }

    .main_box_ul_2 {
        margin-right: 200px;
    }

    .telephone_3 {
        margin-top: 300px;
    }

    .main_box_text_8 {
        width: 465px;
        color: #222;

        font-family: Nunito;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.92px;
        margin-bottom: 191px;
    }

    .telephone_4 {
        display: flex;
    }

    .telephone_4_ul {
        margin-top: 100px;
        margin-left: 135px;
        margin-bottom: 200px;
    }
   

    .telephone_4_h6 {
        width: 277px;
        color: #222;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 43.2px;
        margin-bottom: 22px;
    }

    .telephone_4_p {
        width: 433px;
        color: #222;

        font-family: Nunito;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.92px;
        margin-bottom: 15px;
    }

    .telephone_4_p_1 {
        width: 470px;
        color: #222;

        font-family: Nunito;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.92px;
        margin-bottom: 32px;
    }
    .img_appstore {
        margin-right: 10px;
    }

}