.top_section {
    margin-top: 174px;
}

.title_img {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.text_title {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 31px;
}

.title_h1 {
    color: #222;
    font-family: Nunito;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 50.4px;
}
.title_h2 {
    color: #222;
    font-family: Nunito;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 50.4px;
    margin-bottom: 23px;
}

.title_p {
    width: 400px;
    color: #222;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.92px;
    margin-bottom: 13px;
}
.img_a {
    margin-bottom: 10px;
}
.text_title_img {
    position: relative;
}
.img_img {
    position: absolute;
    top: -200px;
    right: 0;

}
.imgg_a_1 {
    margin-bottom: 112px;
}
